@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}

@keyframes expand {
    to {left:0vw; width:100vw;}
}

@keyframes shrink{
	to {width:0vw;}
}

@keyframes DHandMove{
	to {top: 2vh;
		left: 60vw;
		width: 38vw;}
}

@keyframes LHandMove{
	to {top: 2vh;
		left: 60vw;
		width: 35vw;}
}

@keyframes Hide{
	to {opacity: 0;}
}
@keyframes Show{
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Шрифт 

*{
	font-family: "Oswald", Arial, sans-serif;
}

 меню */

#menu{
	display: block;
	position: relative;
	width: 100vw;
	height:10vh;
}

#logo{
	display:block;
	position: relative;
	width: 6.5em;
	float: left;
}

nav{
	margin-right: 10em;
	margin-left: 10em;
	position: relative;
	display: block;
}

nav > ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

nav > ul > li{
	list-style: none;
	display: inline-block; 
	margin-right: 0.5em;
	margin-top: 1em;
}

nav > ul > li > a{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	padding: 0.8em;
	color: black;
	transition: color 0.5s;
}
/*
nav > ul > li > a > hr{
	color: #196DC3;
	/*border: #196DC3;
}
*/

nav > ul > li > a:hover{
	color:#196DC3;
	border-bottom: 1.5px 
	solid #196DC3;
}
/*
nav > ul > li > a:hover > hr{
	color: #196DC3;
	/*border: #196DC3;
}
*/

nav ul li a.active {
    color: #196DC3;
	border-bottom: 1.5px
	solid #196DC3;
}

#bg{
	display: block;
	width: 100vw;
	height: auto;
	position: absolute;
	top: calc(100vh - 12.0825vw);
	-webkit-box-shadow: 0px 15px 10px 0px rgba(196,196,196,0.85);
	-moz-box-shadow: 0px 15px 10px 0px rgba(196,196,196,0.85);
	box-shadow: 0px 15px 10px 0px rgba(196,196,196,0.85);
}
#dislike{
	display: block;
	position: relative;
	width: 50vw;
	height: 90vh;
	float: left;
	background-color: #03000F;
}
#square{
	display: block;
	position: absolute;
	top: 3vw;
	left: -16.8vw;
	background-color: rgba(60, 90, 157, 0.5);
	width: 34vw;
	height: 15vw;
	-webkit-clip-path: polygon(0 23%, 100% 16%, 95% 62%, 0 57%);
	clip-path: polygon(0 23%, 100% 16%, 95% 62%, 0 57%);
}
#square > p{
	display: block;
	position: absolute;
	left: 0.35vw;
	font-size: 3.3vw;
	font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#square > span{
	font-size: 3.9vw;
	font-family: 'Open Sans', sans-serif;
}
#circle1 {
	display: block;
	position: absolute;
	top: 40%;
	left: 35vw;
	text-align: center;
	width: 10vw;
	height: 10vw;
	text-decoration: none;
	background: rgb(60, 90, 157);
	color: #FFFFFF;
	border-radius: 50%;
}

#circle1::before,
#circle1::after {
	content: '';
	position: absolute;
	border: 0.3em solid rgba(7,27,63,1);
	left: -4.4vw;
	right: -4.4vw;
	top: -4.4vw;
	bottom: -4.4vw;
	border-radius: 50%;
	animation: pulse 1.8s linear infinite;
	opacity: 0;
}

#circle1::after {
	animation-delay: 0.8s;
}

@keyframes pulse {
	0% {
		transform: scale(0.51);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100%{
		transform: scale(1);
		opacity: 0;
	}

}

#circle1 > p{
	margin-top: 2.5vw;
	font-size: 3vw;
	font-family: 'Open Sans', sans-serif;
}
#dislike-img{
	display: table-cell;
	position: relative;
	width: 32vw;
	height: auto;
	top: 2vh;
	left: 4vw;
}
#like{
	display: table-cell;
	position: relative;
	width: 50vw;
	height: 90vh;
	background-color: #D8EAFA;
}

#like-img{
	display: block;
	position: absolute;
	float: right;
	width: 32vw;
	height: auto;
	top: 6vh;
    left: 18vw;
}

#circle2 {
	display: block;
	position: absolute;
	top: 40%;
	left: 5vw;
	text-align: center;
	color: black;
	text-decoration: none;
	width: 10vw;
	height: 10vw;
	background: rgb(60, 90, 157);
	-moz-border-radius: 5vw;
	-webkit-border-radius: 5vw;
	border-radius: 5vw;
}

#circle2::before,
#circle2::after {
	content: '';
	position: absolute;
	border: 0.3em solid rgba(156,181,215,1);
	left: -4.4vw;
	right: -4.4vw;
	top: -4.4vw;
	bottom: -4.4vw;
	border-radius: 50%;
	animation: pulse2 1.8s linear infinite;
	opacity: 0;
}

#circle2::after {
	animation-delay: 0.8s;
}

@keyframes pulse2 {
	0% {
		transform: scale(0.51);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100%{
		transform: scale(1);
		opacity: 0;
	}

}

#circle2 > p{
	margin-top: 2.5vw;
	font-size: 3vw;
	font-family: 'Open Sans', sans-serif;
}

#spacer{
	display: block;
	width: 100%;
	height: 12vh;
	background-color: white;
}
.main{
	display: block;
	width: 100%;
	height: auto;
	overflow:hidden;
	background-color: #f0f0f0;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}
#photo{
	display: table-cell;
	float: left;
	width: 40vw;
	height: 30vw;
	background-color: #f0f0f0;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}
#photo > img{
	display: block;
	position: relative;
	left: -10%;
	width: 114%;
	height: auto;
	border-top-right-radius: 10% 50%;
	border-bottom-right-radius: 10% 50%;
	border-color: #f0f0f0;
}
#info{
	display: table-cell;
	width: 60vw;
	height: 30vw;
	background-color: #f0f0f0;
	color: #3c3c3c;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}
#title{
	margin-left: 14vw;
	font-family: "Open Sans", sans-serif;
	font-size: 3vw;
	font-weight: bold;
	text-transform: uppercase;
}

#text{
	margin-left: 10vw;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1vw;
	text-transform: uppercase;
	line-height: 3vw;
}

footer{
	display: block;
	position: relative;
	width: 100vw;
	height: 20vw;
	background-color: #4c88d3;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 5vw;
	text-transform: uppercase;
}
#spacerEnd{
	display: block;
	width: 100%;
	height: 5vh;
	background-color: white;
}

/* dislike.html */

#back{
	display: block;
	width: 10vw;
	height: 9vw;
	opacity: 0.7;
}
#back:hover{
	opacity: 0.95;
}

#disText{
	display:block;
	position: absolute;
	width: 35vw;
	top: 2vw;
	left: 11vw;
	z-index: 2;
	text-align: center;
	line-height:0;
	padding:0;
	border:0;
}

#photo2{
	display: table-cell;
	float: left;
	width: 40vw;
	height: 30vw;
	background-color: #f0f0f0;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}
#photo2 > img{
	display: block;
	position: relative;
	left: -10%;
	width: 114%;
	height: auto;
	border-top-right-radius: 10% 50%;
	border-bottom-right-radius: 10% 50%;
	border-color: #f0f0f0;
}

#photo3{
	display: table-cell;
	width: 40vw;
	height: 30vw;
	float: right;
	background-color: #f0f0f0;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}

#photo3 > img{
	display: block;
	position: relative;
	width: auto;
	height: 30vw;
	border-top-left-radius: 10% 50%;
	border-bottom-left-radius: 10% 50%;
	border-color: #f0f0f0;
}

#info2{
	display: block;
	float: left;
	width: 52vw;
	height: 30vw;
	background-color: #f0f0f0;
	color: #3c3c3c;
	overflow: hidden;
	-webkit-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
	box-shadow: inset 0px 4px 5px -2.5px rgba(0,0,0,0.2);
}

#text2{
	margin-right: 6vw;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5vw;
	line-height: 2vw;
	text-align: right;
}

#text3{
	margin-left: 10vw;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5vw;
	line-height: 2vw;
}

#title2{
	margin-left: 10vw;
	font-family: "Open Sans", sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
}

#main_li{
    display: flow-root;
    list-style: none;
    margin-left: -3vh;
    margin-top:  -3vh;
}

#main_info{
    background-color: rgb(153, 153, 153);
    display: block;
    position: relative;
    overflow: auto;
    height: auto;
    width: 50vw;
    transform: translate(50%);
    margin-top: 3%;
    padding-top: 2vh;
}

#sreda{
    display: block;
    margin-top: 1.75vw;
    color: white;
    font-size: 4.5vh;
}

#info1{
    display: block;
    margin-top: 0.5vw;
    color: #ffffff;
    font-size: 3vh;
}

#img_li{
    display: block;
    float: left;
    height: auto;
    width: 4vw;
}

#other{
    display: flow-root;
    list-style: none;
    margin-top: 2vh;
    margin-left: -2vh;
}

/* like.html */

#likeText{
	display:block;
	position: absolute;
	width: 35vw;
	left: 8vw;
	z-index: 2;
	text-align: center;
	line-height:0;
	padding:0;
	border:0;
}

#square2{
	display: block;
	position: absolute;
	top: 15vw;
	background-color: rgb(137, 215, 195);
	width: 45vw;
	height: 20vw;
	-webkit-clip-path: polygon(0 23%, 100% 16%, 95% 62%, 0 57%);
	clip-path: polygon(0 23%, 100% 16%, 95% 62%, 0 57%);
	transform: rotate(-3deg);
}
#square2 > p{
	display: block;
    position: absolute;
    left: 0.6vw;
    top: 4.35vw;
    color: white;
    text-transform: uppercase;
    font-size: 3.6vw;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
